#heading{
    text-align:center;
}
#button{
    background-color: rgba(0, 162, 255, 0.877);
    color:white;
    border-radius:30px;
    height:40px;
    width:120px;
    outline:none;
}
#recipie{
    position:relative;
    top:50px;
    left:300px;
    display:none;
    min-height:800px;
    width:1000px;
    overflow: hidden;
}
#points{
    float:left;
    min-height:530px;
    width:450px;
    font-size:18px;
    overflow: hidden;
}
#description{
    float:left;
    min-height:530px;
    width:550px;
    margin:0;
    padding:0;
    overflow: hidden;
}
#food{
    font-size:35px;
}
#content{
    font-size:18px;
}
#video{
    font-size:25px;
    display:none;
    position:relative;
    left:50px;
    text-align: center;
}

table{
    border: solid 1px black;
    border-collapse: collapse;
    margin: 40px auto;
}

td{
    border: solid 1px black;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-size: 1.5rem;
}

th{
    border: solid 1px black;
    font-size: 2.3rem;
}